In [ ]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 
import sys 
import matplotlib

In [ ]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]
Pandas version 1.3.5
Matplotlib version 3.2.2

In [ ]:
names = ['Mayank','Amit','Ayush','Kunal','Deepak']
births = [968, 50, 180, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Mayank', 968),
 ('Amit', 50),
 ('Ayush', 180),
 ('Kunal', 578),
 ('Deepak', 973)]

In [ ]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

    Names  Births
0  Mayank     968
1    Amit      50
2   Ayush     180
3   Kunal     578
4  Deepak     973

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#df = pd.read_csv("/content/drive/MyDrive/statewisetestingsamples.csv")
Df1=pd.read_csv("/content/drive/MyDrive/Salary_Data.csv")
#df.set_index("TotalSamples")
Df1.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
Df1.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [ ]:

Sorted=Df1.sort_values(['Salary'], ascending=False)
Sorted.head(5)

    YearsExperience    Salary
28             10.3  122391.0
29             10.5  121872.0
26              9.5  116969.0
23              8.2  113812.0
27              9.6  112635.0

In [ ]:
Df1.loc[10]

YearsExperience        3.9
Salary             63218.0
Name: 10, dtype: float64

In [ ]:
Df1.groupby("Salary")